# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/